.container {
   width: 400px;
}

/* body {
    */

.userinput {
    display:flex;
    flex-direction: row;
    margin: 10px 0px;
}

.charoptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button.char {
    font-family:Lucida Sans Unicode;
    font-size: medium;
}

button {
    background-color: white;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border: 0px;
    /* border:1px solid rgb(102, 102, 102); */
}